/*=================================================*/
/*             Base start                   */
/*=================================================*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: currentColor;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* ---------const------------*/
/* ----xx-----const-------xx-----*/
/* ---------general------------*/
html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 52.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 23.75em) {
  html {
    font-size: 44%;
  }
}

@media only screen and (max-width: 21.25em) {
  html {
    font-size: 42%;
  }
}

@media only screen and (max-width: 18.125em) {
  html {
    font-size: 35%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 112.5em) {
  .container {
    max-width: 132rem;
  }
}

/* ---xxx------general-------xx-----*/
/*=================================================*/
/*             Base End                   */
/*=================================================*/
.btn {
  background: #016fb7;
  -webkit-box-shadow: 0px 7px 10px #58bdff3d;
          box-shadow: 0px 7px 10px #58bdff3d;
  border-radius: 3rem;
  font-size: 1.7rem;
  color: #fff;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}

.btn:hover {
  color: #fff;
  background: rgba(1, 111, 183, 0.9);
}

.btn--header {
  padding: 1.5rem 2.4rem;
}

.heading--primary {
  color: #1c1c1c;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -1.4px;
  margin-bottom: 4rem;
}

.section-padding {
  padding: 8rem 1rem;
}

.navbar {
  padding: 1rem 0;
  background: #016fb7;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__left-part, .navbar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__left-part i {
  margin-right: 1rem;
  font-size: 1.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #4dd0e1;
}

.navbar__left-part h5 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.navbar__social-item {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.main-nav {
  padding: 2rem 0;
}

.main-nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__logo {
  font-size: 3rem;
  color: #016fb7;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__items {
  margin-right: 2rem;
}

.main-nav__link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #727272;
}

.main-nav__link.active {
  color: #0467a8;
  font-weight: 500;
}

.header {
  width: 100%;
  height: 85vh;
  background: rgba(231, 237, 244, 0.22);
}

.header__left-part, .header__right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  height: 85vh;
}

.header__right-part img {
  width: 100%;
}

.header__title {
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 7rem;
  color: #235196;
  letter-spacing: 0px;
  margin-bottom: 1rem;
}

.header__sub-title {
  font-size: 3.5rem;
  line-height: 7.5rem;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
  opacity: 0.77;
}

.awards {
  padding: 8rem 3rem;
  position: relative;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  cursor: -webkit-grab;
  cursor: grab;
  height: 13vh;
}

.carousel__img {
  width: 100%;
  height: 100%;
}

.swiper-container {
  overflow: hidden;
}

/*=================================================*/
/*             Footer  start                     */
/*=================================================*/
.footer {
  background: #1c272e;
  padding: 8rem 1rem 4rem;
}

.footer__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (28%)[2] (1fr)[2];
      grid-template-columns: repeat(2, 28%) repeat(2, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media only screen and (max-width: 61.875em) {
  .footer__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (max-content)[2] 1fr max-content;
        grid-template-rows: repeat(2, -webkit-max-content) 1fr -webkit-max-content;
        grid-template-rows: repeat(2, max-content) 1fr max-content;
  }
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 52.25em) {
  .footer__items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 23.75em) {
  .footer__items img {
    width: 40%;
  }
}

.footer__logo {
  width: 15rem;
  margin-bottom: 1rem;
}

.footer__sub-heading {
  margin-bottom: 2rem;
  position: relative;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: left;
}

@media only screen and (max-width: 37.5em) {
  .footer__sub-heading {
    font-size: 2.2rem;
  }
}

.footer__nav-list {
  list-style: none;
  padding-left: 0.5rem;
}

.footer__nav-li {
  margin-bottom: 1rem;
  text-align: start;
}

.footer__nav-items {
  cursor: pointer;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
}

.footer__nav-items:hover {
  color: red;
}

@media only screen and (max-width: 37.5em) {
  .footer__nav-items {
    font-size: var(--responsive-font);
  }
}

.footer__address {
  color: #fff;
  font-size: 1.4rem;
  padding-left: 2.5rem;
  position: relative;
  margin-bottom: 0;
  line-height: 1.6;
}

@media only screen and (max-width: 61.875em) {
  .footer__address {
    padding-left: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__address {
    font-size: var(--responsive-font);
    line-height: 1.5;
  }
}

.footer__address i {
  position: absolute;
  left: 0rem;
  top: 0;
  color: #fff;
}

.footer__hr {
  margin: 4rem 0 2rem;
  color: #fff;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  padding-top: 0.9rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer__copyright h2 {
  color: #c3c3c3;
  font-size: 1.4rem;
  margin: 0;
}

@media only screen and (max-width: 37.5em) {
  .footer__copyright h2 {
    font-size: 1.6rem;
    max-width: 30rem;
    line-height: 2;
  }
}

/*=================================================*/
/*             Footer  End                   */
/*=================================================*/
