@import 'base';
@import 'navbar';

// ================================================
// Navbar
.navbar {
  padding: 0.5rem 0;
  background: #f2f2f2;
  color: #585858;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $bp-xsmall) {
    padding: 1rem 0;

    display: none;
  }

  &__left-part,
  &__social {
    display: flex;
    align-items: center;
  }

  &__left-part {
    i {
      margin-right: 1rem;
      font-size: 1.5rem;
      color: #585858;
      border-radius: 50%;

      @media only screen and (max-width: $bp-xsmall) {
        font-size: 1.8rem;
      }
    }
    h5 {
      font-size: 1.5rem;
      margin-bottom: 0;
      color: #585858;

      @media only screen and (max-width: $bp-xsmall) {
        font-size: 1.8rem;
      }
    }

    @media only screen and (max-width: $bp-xsmall) {
      width: 100%;
    }
  }

  &__contact {
    a {
      color: #585858;
      font-weight: 400;

      &:hover {
        color: rgba(#585858, 0.8);
      }
    }

    &:first-child {
      margin-right: 2rem;
    }
  }

  &__social {
    &-item {
      margin-right: 1rem;
      font-size: 1.5rem;
      color: #585858;
      cursor: pointer;

      i {
        color: #585858;

        &:hover {
          color: rgba(#585858, 0.8);
        }
      }
    }
  }

  &__right-part {
    @media only screen and (max-width: $bp-xsmall) {
      display: none;
    }
  }

  .mobile-nav-icon {
    @media only screen and (max-width: $bp-xsmall) {
      margin-left: auto;
    }
  }
}
/////////////////////////////////////////////////
// Main-nav

.main-nav {
  padding: 2.4rem 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-size: 3rem;
    color: #016fb7;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-xsmall) {
      display: none;
    }
  }

  &__items {
    margin-right: 6rem;
  }

  &__link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #727272;

    &:hover {
      color: #0467a8;
    }

    &.active {
      color: #0467a8;
      font-weight: 500;
    }
  }
}

//////////////////////////////////////////////////
// header

.header {
  width: 100%;
  height: auto;
  // background: rgba(#e7edf4, 0.22);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media only screen and (max-width: $bp-992) {
    height: auto;
    // background: rgba(#e7edf4, 0.22);
  }

  &__left-part,
  &__right-part {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    align-self: stretch;
    // height: 85vh;
    padding: 9rem 0;
    @media only screen and (max-width: $bp-992) {
      height: auto;
      padding: 8rem 1rem;
      text-align: center;
      align-items: center;
    }
    @media only screen and (min-width: $bp-xlarge) {
      // height: 62vh;
    }
  }

  &__right-part {
    align-items: center;

    img {
      width: 90%;

      @media only screen and (max-width: $bp-small) {
        width: 67%;
      }
      @media only screen and (max-width: $bp-xsmall) {
        width: 100%;
      }
    }

    @media only screen and (max-width: $bp-992) {
      padding: 0rem 0 8rem;
    }
    @media only screen and (max-width: $bp-xsmall) {
      padding: 0rem 2rem 8rem;
    }
  }

  &__title {
    // font-size: 6.3rem;
    // font-weight: 700;
    // line-height: 7rem;
    color: #fff;
    letter-spacing: 0px;
    margin-bottom: 1rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2;
    max-width: 60rem;

    @media only screen and (max-width: $bp-xsmall) {
      // font-size: 5.3rem;
      font-size: 4rem;
    }
  }

  &__sub-title {
    font-size: 2.5rem;
    line-height: 1.3;
    letter-spacing: 0px;
    // color: #000000;
    // text-transform: capitalize;
    opacity: 0.77;
    margin-bottom: 2rem;
    color: #fff;
    font-weight: 400;
  }
}

//////////////////////////////
// speciality

.speciality {
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media only screen and (max-width: $bp-992) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-xsmall) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  &__single-box {
    padding: 3rem;
    background: #f7f7f7;
    border-radius: 12px;
  }

  &__icon {
    padding: 1rem 0;
    width: 20%;
  }

  &__title {
    font-size: 2.7rem;
    margin: 1.5rem 0;
    letter-spacing: 0px;
    font-weight: 500;
  }
}

//////////////////////////////////
// features

.features {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

///////////////////////////////////////////
//tabs

#tabs {
  .tab-pane {
    margin-top: 1rem;
    padding: 1.5rem;
    height: auto;
  }
  .nav-tabs {
    position: relative;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    width: 60%;
    @media only screen and (max-width: 767px) {
      width: 82%;
    }
    @media only screen and (max-width: $bp-xsmall) {
      padding: 0rem 0rem;
      width: 100%;
      height: 7vh;
    }
    margin: auto;

    & .nav-item {
      // margin-right: 2rem;
      // background-color: var(--color-primary);

      & .nav-link {
        // position: relative;
        margin-right: 0px;
        padding: 1rem 1rem;
        font-size: 2rem;
        border: none;
        color: #fff;
        font-weight: 400;

        &:hover {
          background-color: rgba(#11d1ff, 0.55);
          border: none;
          color: #fff;
        }

        &.active {
          background-color: transparent;
          border: none;
          color: #fff;
          font-weight: 500;
          font-size: 2.1rem;
        }
      }
    }
  }

  .bottom-slider {
    display: block;
    height: 4px;
    border-radius: 3px;
    background-color: rgba(#dcdcdc, 0.55);
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 15;
    margin: 0;
    padding: 0;
    width: 91.5%;
    @media only screen and (max-width: $bp-992) {
      left: 6%;
      width: 87.4%;
    }
    @media only screen and (max-width: $bp-xsmall) {
      left: 0;
      width: 100%;
    }
  }

  .slider {
    display: inline-block;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #11d1ff;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    transition: all 0.4s linear;
  }
}

.dashboard {
  padding-top: 4rem;
  &__left-part {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      // height: 100%;
    }
  }

  &__right-part {
    padding: 6rem;

    @media only screen and (max-width: $bp-992) {
      padding: 2rem 0rem 2rem 4rem;
    }
    @media only screen and (max-width: $bp-xsmall) {
      padding: 2rem 0rem;
    }
  }
}
/////////////////////////////////
// about

.about {
  &__left-part {
    padding: 3rem 3rem 3rem 0;
    height: 100%;

    @media only screen and (max-width: $bp-992) {
      padding: 3rem 0rem 3rem 3rem;
    }

    &--page {
      padding: 0rem 0rem 0rem 4rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      @media only screen and (max-width: $bp-992) {
        padding: 3rem 1rem 0rem;
      }
    }
  }

  &__right-part {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 100%;

    @media only screen and (max-width: $bp-992) {
      padding: 3rem 0rem 3rem 3rem;
    }
    @media only screen and (max-width: $bp-small) {
      padding: 3rem 1rem 0rem 1rem;
    }

    img {
      height: 100%;
    }
  }

  &__row2 {
    .about__left-part {
      padding: 0 0 2rem 0 !important;
    }
  }

  &--2nd-img {
    display: none;
    @media only screen and (max-width: $bp-small) {
      display: block;
    }
  }
  &--1st-img {
    display: block;
    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }
}

/////////////////////////////
// clients

.awards {
  padding: 8rem 3rem;
  position: relative;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 2rem;
  // width: 25%;
  cursor: grab;
  // height: 13vh;

  @media only screen and (max-height: $bp-xsmall) {
    height: 30vh;
  }

  &__img {
    width: 100%;
    // height: 100%;
    border-radius: 0;

    @media only screen and (max-height: $bp-xsmall) {
      height: 100%;
    }
  }
}

.swiper-container {
  overflow: hidden;
}

//////////////////////////////////////
// Testimonial
.testimonial {
  padding: 8rem 0;
  background-color: #f3f4f6;
  position: relative;
  &__swiper {
    overflow: hidden;
    padding: 0.5rem;
    @media only screen and (max-width: $bp-xsmall) {
      padding: 2rem;
    }
  }

  .swiper-pagination-bullet {
    margin: 0 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent !important;
    border: 1px solid #7d7d7d;
    position: relative;
    -moz-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.5;
    transform: translateY(-2rem);
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    border: 1px solid #016fb7;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: #016fb7;
      height: 6px;
      width: 6px;
      transform: translate(-50%, -50%);
      border-radius: 5rem;
    }
  }
}
.review {
  margin-top: 3rem;
  padding: 3rem;
  position: relative;
  overflow: hidden;
  // border: 1px solidvar(--color-primary);
  margin-bottom: 3rem;
  box-shadow: 0.1rem 0rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-self: stretch;
  flex-direction: column;
  flex: initial;
  width: 100%;
  height: 100%;
  border-radius: 12px;

  // @media only screen and (max-width: $bp-small) {
  //   height: 37rem;
  // }
  // @media only screen and (max-width: $bp-xsmall) {
  //   height: auto;
  // }
  // @media only screen and (max-width: $bp-340) {
  //   // height: 40rem;
  // }

  // &::before {
  //   content: '\201d';
  //   top: 60%;
  //   left: 80%;
  //   position: absolute;
  //   font-size: 20rem;
  //   line-height: 1;
  //   font-family: sans-serif;
  //   opacity: 0.2;
  //   color: #6666;
  // }

  &__quotes::before {
    content: '\201d';
    font-size: 5rem;
    line-height: 1;
    font-family: sans-serif;
    opacity: 0.2;
    color: #7d7d7d;
    display: block;
    margin-bottom: 0rem;
  }

  &__text {
    font-size: 1.55rem;
    z-index: 1;
    position: relative;
    font-weight: 500;
    color: #7d7d7d;

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 1.8rem;
    }
  }

  &__user {
    display: flex;
    padding: 2rem 1rem 0;
    align-items: center;
  }

  &__photo {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
  }

  &__user-box {
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  &__user {
    &-description {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: -1rem;
    }

    &-name {
      color: var(--color-secondary);
      font-size: 1.7rem;
      font-weight: 800;
      margin: 1rem 0;
    }
  }
}

/*=================================================*/
/*             Footer  start                     */
/*=================================================*/

.footer {
  background: #1c272e;
  background: linear-gradient(
    184deg,
    rgba(5, 39, 82, 1) 0%,
    rgba(38, 46, 100, 1) 100%
  );
  padding: 8rem 1rem 4rem;

  &__list {
    display: grid;
    grid-template-columns:
      35% 25%
      // repeat(2, 30%)
      repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 30px;

    @media only screen and (max-width: $bp-992) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 30px;
    }
    @media only screen and (max-width: $bp-xsmall) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, max-content) 1fr max-content;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: center;

    @media only screen and (max-width: $bp-small) {
      align-items: flex-start;
      justify-content: flex-start;
    }

    & img {
      @media only screen and (max-width: $bp-380) {
        width: 40%;
      }
    }
  }

  &__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__sub-heading {
    margin-bottom: 2rem;
    position: relative;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: left;
    letter-spacing: 1px;
    @media only screen and (max-width: $bp-xsmall) {
      font-size: 2.2rem;
    }
  }

  &__nav-list {
    list-style: none;
    // padding-left: 0.5rem;
  }

  &__nav-li {
    margin-bottom: 1.7rem;
    text-align: start;
  }

  &__nav-items {
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;

    &:hover {
      color: #aaa;
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: var(--responsive-font);
    }
  }

  &__address {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 2rem;
    line-height: 2;
    max-width: 42rem;

    &--contact {
      margin-bottom: 0;
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: var(--responsive-font);
      line-height: 1.5;
    }

    // i {
    //   position: absolute;
    //   left: 0rem;
    //   top: 0;
    //   color: #fff;
    // }
  }

  &__logo {
    width: 20rem;
    margin-bottom: 2rem;
    border-radius: 0px;
  }

  &__hr {
    margin: 4rem 0 2rem;
    color: #fff;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding-top: 0.9rem;

    @media only screen and (max-width: $bp-xsmall) {
      flex-direction: column;
      text-align: center;
    }

    h2 {
      color: #c3c3c3;
      font-size: 1.4rem;
      margin: 0;
      @media only screen and (max-width: $bp-xsmall) {
        font-size: 1.6rem;
        max-width: 27rem;
        line-height: 2;
      }
    }
  }

  &__nvf {
    color: #c3c3c3;
  }
}

/*=================================================*/
/*             Footer  End                   */
/*=================================================*/
/*=================================================*/
/*             Terms  start                   */
/*=================================================*/

.terms {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;

  // &__content {
  //   max-width: 945px;
  //   box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  //   padding: 3rem;
  // }

  @media only screen and (max-width: $bp-992) {
    padding-top: 3rem;
  }

  &__tab {
    @media only screen and (max-width: $bp-992) {
      margin-bottom: 3rem;
    }
    #tabs {
      background: #fff;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    }
    .nav-tabs {
      padding: 2rem !important;
      width: 100% !important;

      flex-direction: column;

      @media only screen and (max-width: $bp-xsmall) {
        height: auto !important;
      }
    }

    & .nav-item {
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 1rem;
      }

      & .nav-link {
        padding: 1rem 1rem;
        font-size: 1.8rem !important;
        border: none;
        color: #000 !important;
        text-align: start;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          font-weight: 700;
          z-index: 1;
          color: #d9d9d9;
          transition: all 0.5s ease-out;
        }

        &:not(:last-child) {
          margin: 2rem 0;
        }

        &:hover {
          background-color: transparent !important;
          border: none;
          color: #016fb7 !important;
          i {
            color: #016fb7;
          }
        }

        &.active {
          background-color: transparent;
          border: none;
          color: #016fb7 !important;
          font-weight: 500;
          font-size: 1.8rem !important;

          i {
            color: #016fb7;
          }
        }
      }
    }
  }
  &__left-part {
    padding: 0 3rem 0 0;
    @media only screen and (max-width: $bp-small) {
      padding: 0 0rem 0 0;
    }
  }

  .tab-content {
    .heading {
      align-items: flex-start !important;
      margin-bottom: 1rem !important;
    }
    .heading__primary {
      text-align: start !important;
      font-size: 3.2rem;
      font-weight: 500;
    }
  }

  &__row {
    @media only screen and (max-width: $bp-992) {
      flex-direction: column-reverse !important;
    }
  }

  .tab-content {
    max-width: 82 rem !important;
    margin: auto !important;
  }
}

///////////////////////////////////////////////////////////////
// products

.products {
  &:nth-child(odd) {
    background: #f3f4f6;
    .products__content-part {
      padding: 0 4rem 0 0rem;
      @media only screen and (max-width: $bp-992) {
        padding: 0rem 2rem;
      }
    }
  }

  &__content-part {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 2rem 0 4rem;

    @media only screen and (max-width: $bp-992) {
      padding: 0rem 2rem;
    }
  }

  &__img-part {
    // padding: 4rem;
    @media only screen and (max-width: $bp-992) {
      padding: 1rem 1rem 4rem 1rem;
    }
  }
}

.row__purachse {
  @media only screen and (max-width: $bp-992) {
    flex-direction: column-reverse !important;
  }
}

/* ----------contact ---------------------*/
@import 'contact';
@import 'form';
/* -------x---contact -----------x----------*/

//////////////////////////////////////////////////////
// payment

.payment {
  padding: 4rem 3rem;
  background: #fff;
  margin-bottom: 4rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__label {
    font-size: 1.9rem;
  }

  &__input {
    margin: 1rem 0 2.5rem;
    height: 4rem;
    width: 100%;
    font-size: 1.65rem;
    padding-left: 0.5rem;
  }
}

@media only screen and (max-height: 600px) {
  .container {
    max-width: 608px;
  }
}

@media only screen and (min-width: $bp-xlarge) {
  .container {
    max-width: 132rem;
  }
}
